/*           ================================ GLOBAL================= */
@media screen {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ::after body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    content: '';
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ol,
  ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .studio-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
  }

  .social-items {
    width: 40px;
    height: 40px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  /* ===========================================Logo, hero============== */

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    display: inline-block;

    padding-top: 24px;
    padding-bottom: 20px;
    position: relative;
    color: #404bbf;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
  }

  /* ========================================Header================ */

  .studio-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
  }

  /* =================================Navigation=========================== */

  .flex-list-header {
    display: flex;
    justify-content: space-between;
  }

  /* ===========================Hero ================================*/

  .hero-class {
    max-width: 1440px;
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    display: block;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice1.jpg);
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    transition-property: background-color;
    transition-duration: 250ms;

    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    align-items: center;
    margin: 0 auto;
  }
  .button:hover {
    background-color: #404bbf;
  }
  .button:focus {
    background-color: #404bbf;
  }

  /* ======================================Features==================== */

  .features-section {
    padding: 96px 0;
  }
  .features-lishka-last {
    margin-bottom: 0;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }

  .features-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-family: 'Roboto', sans-serif;
  }

  .features-lishka {
    flex-basis: calc((100% - 3 * 24px) / 4);
    margin-bottom: 72px;
  }

  /* ====================================Workes====================== */

  .workes {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .svg-icons {
    fill: #f4f4fd;
  }

  .work-social {
    width: 100%;
  }

  .vektor-fant {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .vektor-fant:hover {
    background-color: #404bbf;
  }

  .vektor-fant:focus {
    background-color: #404bbf;
  }

  .social-vek {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
  }

  .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 50ms;
    transition-property: background-color;
    transition-duration: 250ms;
  }

  .icons svg {
    width: 50%;
    height: 50%;
    fill: white;
  }

  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .workers-ul {
    display: flex;
    gap: 72px;
    flex-direction: column;
  }

  .work-li {
    background-color: #ffffff;
    height: calc((100% - 32px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    /* margin-left: auto;
    margin-right: auto; */
  }

  .name-box {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }

  .position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
  }

  /* =====================Portfolio============= */

  .portfolio-section {
    padding-top: 92px;
    padding-bottom: 94px;
  }

  .wrapper {
    position: relative;
    /* overflow: hidden; */
  }

  .box {
    position: relative;
    /* overflow: hidden; */
  }

  .par-overley {
    transform: translateY(0);
    position: absolute;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }

  .portfolio-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-li {
    height: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .banking-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-banner {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .portfolio-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* ==========================Footer================== */

  .footer-color {
    background-color: #2e2f42;
    padding: 96px 0;
  }

  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
  }

  .footer-span {
    color: #f4f4fd;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: inline-block;
  }

  .footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .fantasy {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }
  .footer-vektor {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }

  .social-footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
  }

  .footer-item {
    width: 40px;
    height: 40px;
  }

  .footer-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    list-style: none;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-link:hover {
    background-color: #31d0aa;
  }

  .footer-link:focus {
    background-color: #31d0aa;
  }

  .icons-svg {
    fill: #f4f4fd;
  }

  .form-mail {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
  }

  .forma-dup {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .container-telega {
    max-width: 453px;
    display: flex;
    flex-direction: column;
  }

  .footer-button {
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .telega {
    margin-left: 16px;
  }

  .input-footer {
    width: 100%;
    height: 40px;
    margin-right: 24px;
    background-color: #2e2f42;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #fff;
    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-right: auto;
    margin-left: auto;
  }

  .demo-box {
    display: flex;
    align-items: center;
  }
  /* ====================================================== */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */
  /* =================Backdrop============= */

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transform: translateX(100%); */
  }

  .backdrop.open-modal {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-window {
    min-width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
  }

  .modal-input {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    width: 360px;
    height: 40px;
  }

  .texteria-modal {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
  }

  .form-box {
    margin-bottom: 8px;
  }

  .label-modal-form {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 8px;
    display: block;
    line-height: 1.17;
    margin-bottom: 4px;
  }

  .input-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
  }

  .box-vector {
    position: relative;
    margin-bottom: 16px;
  }

  .chekbox-wraper-box {
    margin-bottom: 24px;
    display: flex;
  }

  .form-box-com {
    margin-bottom: 16px;
  }

  .vektor-paige {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-form:focus {
    border-color: #4d5ae5;
  }

  .input-form:focus + .vektor-paige {
    fill: #4d5ae5;
  }

  .texteria-modal-demo {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
  }

  .texteria-modal-demo:focus {
    border-color: #4d5ae5;
  }

  .checkbox-input {
    background-color: #404bbf;
  }

  .privat {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }

  .lable-checkbox {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    position: relative;
    display: inline-block;
    align-items: center;
  }

  .span-box {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    fill: transparent;
    bottom: 0;
    left: 0;
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .send-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .send-button:hover,
  .send-button:focus {
    border-color: #404bbf;
    background-color: #404bbf;
  }

  .checkbox-input:checked + .lable-checkbox .span-box {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }

  .galka {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-buttom {
    border-radius: 50%;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    border-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress {
    display: none;
  }
  .flex-nav,
  .vektor-features {
    display: none;
  }

  .adress {
    display: none;
  }
}

/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */
/* =================Backdrop END============= */

/* ================================== MEDIA  max767========================== */

@media screen and (max-width: 767px) {
  .burger-button {
    stroke: #2e2f42;
    line-height: 0;
    background-color: #ffffff;
    border: none;
    padding: 0;
  }

  .info-b {
    margin-bottom: 24px;
  }

  .mobi-box {
    position: relative;
  }

  .exit-burger {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    fill: #e7e9fc;
    /* stroke-width: 1px; */
    stroke: rgba(0, 0, 0, 0.1);
  }

  .burger-list-box {
    padding: 72px 24px 40px 16px;
    margin-bottom: 168px;
  }

  .burger-li {
    margin-bottom: 40px;
  }

  .burger-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .burger-title.aktive {
    color: #404bbf;
  }

  /* box */
  .burger-adres {
    margin-bottom: 48px;
  }
  /* box */

  .social-vek-burger {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 8px;
  }

  .contact-info-burger {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 24px;
  }

  .contact-info-burger-tel {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #404bbf;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 24px;
  }

  .contact-info-burger:focus {
    color: #404bbf;
  }

  .menu-burger {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 16px;
    transform: translateX(100%);
  }

  .menu-burger.is-open {
    transform: translateX(0%);
  }

  .bot-eror {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .work-li {
    background-color: #ffffff;
    height: calc((100% - 32px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-left: auto;
    margin-right: auto;
  }

  /* =========================FEATURES */

  /* portfolio */

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  .box {
    position: relative;
    overflow: hidden;
  }

  /* =========================FOOTER========= */

  .vektor-features {
    opacity: 1;
  }

  /*  ============backdrop======== */

  .modal-input {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    width: 360px;
    height: 40px;
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero-class {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobi1x/heroimage.jpg);
    }
  }
}

/* =========================================================Min 768px Planshet=================== */




@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero-class {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobi2x/ofis2x.jpg);
    }
  }

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  .box {
    position: relative;
    overflow: hidden;
  }

  .container {
    max-width: 768px;
  }

  #nav-link-sstudio::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -22px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .adress {
    display: flex;
  }

  .menu-burger {
    display: none;
  }

  .navigation {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-studio {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-studio:hover,
  .navigation-studio:focus {
    color: #404bbf;
  }

  .navi-menu {
    display: flex;
    align-items: center;
  }

  .flex-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  .flex-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }

  .adress-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .flex-item {
    padding-bottom: 20px;
    padding-top: 24px;
    color: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation:hover {
    color: #404bbf;
  }
  .navigation:focus {
    color: #404bbf;
  }
  .contacts-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-info:hover {
    color: #404bbf;
  }

  .contact-info:focus {
    color: #404bbf;
  }

  .logo {
    margin-right: 120px;
  }

  .adress {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contact-info-mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-info-mail:focus {
    color: #404bbf;
  }
  .contact-info-mail:hover {
    color: #404bbf;
  }

  /* =================Hero=============== */
  .features-title {
    text-align: start;
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .container-hero {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ======================features */

  .features-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-lishka {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  /*  ======================OUR PORTFOLIO ==============*/

  .workers-ul {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .work-li {
    background-color: #ffffff;
    height: calc((100% - 32px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  /* ==========================Portfolio=============== */

  .portfolio-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: space-between;
  }
  .portfolio-li {
    width: calc((100% - 48px) / 2);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .box {
    position: relative;
    /* overflow: hidden; */
  }

  .fantasy {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 264px;
    margin-right: 24px;

  }
  .footer-vektor {
    display: flex;
    align-content: end;
    flex-direction: column;
    
  }
 
  .social-footer-list {
    margin-bottom: 0;
  }

  .forma-dup {
    flex-direction: row;
  }
  .container-foot {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 108px;
  }
  .input-footer {
    min-width: 264px;
    min-height: 40px;
  }

  .footer-title {
    margin-left: 0;
    margin-right: 0;
  }


  /*======================================== Bakdrop ============================*/
  .modal-window {
    max-width: 408px;
    max-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .menu-burger {
    display: none;
  }

  #icon-burger {
    display: none;
  }

  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero-class {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobi2x/ofis2x.jpg);
    }
  }

  .adress-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  /* ============================TEST=============== */

  .hero-class {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .flex-list-header {
    padding: 0 15px;
  }

  /* =================Features=========== */

  .features-lishka {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-menu {
    display: flex;
    gap: 24px;
  }

  .vektor-features {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .features-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* ==============================Our Team=================== */

  .work-social {
    width: 100%;
  }

  .vektor-fant {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .vektor-fant:hover {
    background-color: #404bbf;
  }

  .vektor-fant:focus {
    background-color: #404bbf;
  }

  .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 50ms;
    transition-property: background-color;
    transition-duration: 250ms;
  }

  .icons svg {
    width: 50%;
    height: 50%;
    fill: white;
  }

  .icons:hover {
    background-color: #404bbf;
  }

  .icons:focus {
    background-color: #404bbf;
  }

  /* brak */

  .workers-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .work-li {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  /* ============Portfolio===== */

  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  .box {
    position: relative;
    overflow: hidden;
  }

  .portfolio-li:focus .par-overley {
    transform: translateY(0%);
  }

  .portfolio-li:hover .par-overley {
    transform: translateY(0%);
  }
  */ .portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-li {
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  /* ====================================FOOTER======================== */

  .container-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .fantasy {
    margin-left: 0;
    margin-right: 120px;
    max-width: 264px;
    margin-bottom: 99px;
  }

  .footer-vektor {
    margin-bottom: 65px;
  }

  .container-telega {
    margin-bottom: 65px;
  }

  .portfolio-ul {
    row-gap: 48px;
  }

  .input-footer {
    width: 100%;
  }

  .input-footer {
    min-width: 264px;
    min-height: 40px;
  }

  .features-lishka {
    margin-bottom: 0;
  }

 .container-foot {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    
  }

.footer-vektor {
  margin-right: 80px;
}


















}
